# Web Framework and Extensions
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
Werkzeug
statsmodels
matplotlib
scikit-learn
tensorflow==2.14.0
pmdarima

# Database Connector
PyMySQL

# Data Handling & Analysis
pandas

# Plotting and Visualization
plotly
requests

# Add forecasting libraries below as needed
# For example:
# statsmodels
# pmdarima
# tensorflow
# scikit-learn